<!DOCTYPE html>
<html>
    {%load static%}
<head>
    <title>{% block head_title %}Blog{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/da6680d122.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
                2022.05.10 LeeDaHyun
            </p>
        </div>
        <!-- /.container -->
    </footer>
</body>
</html>